div
{
	display:none;
	margin:0;
	padding:0
}

div.level1
{
	margin-left:5px
}

div.level2
{
	margin-left:10px
}

div.level3
{
	margin-left:15px
}

div.level4
{
	margin-left:20px
}

div.level5
{
	margin-left:25px
}

div.level6
{
	margin-left:30px
}

div.level7
{
	margin-left:33px
}

div.level8
{
	margin-left:36px
}

div.level9
{
	margin-left:39px
}

div.level10
{
	margin-left:42px
}

div.level11
{
	margin-left:45px
}

div.level0 a
{
	color:#333;
	font-size:16px;
	line-height:24px
}

div.level1 a
{
	font-size:14px;
	line-height:18px
}

div.level2 a
{
	font-size:13px;
	font-weight:400;
	line-height:14px
}

div.withchild
{
	background-image:url(../media/li_close.png);
	background-position:left center;
	background-repeat:no-repeat
}

div.withchild.isopen
{
	background-image:url(../media/li_open.png);
	background-position:left center;
	background-repeat:no-repeat
}

a:hover
{
	background-color:#271f47!important;
	color:#FFF!important
}

a
{
	color:#333;
	display:block;
	font-family:Verdana,Geneva,Tahoma,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-weight:400;
	margin-left:8px;
	padding:5px;
	text-decoration:none
}

div.level0,div.isshow
{
	display:block
}

div.isactive a
{
	color:#271f47;
	font-weight:bolder
}